<?xml version="1.0" encoding="UTF-8"?>
<!-- Beigesoft ™
  Licensed under the Apache License, Version 2.0
 
  You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Beige WEB</display-name>
  <jsp-property-group>
    <trim-directive-whitespaces>true</trim-directive-whitespaces>
  </jsp-property-group>
  <servlet>
    <servlet-name>webtest</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WebTest
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webtest</servlet-name>
    <url-pattern>/webtest/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
