target/
uml/
test-output/
.classpath
.project
release.properties
.settings/
.checkstyle
.pmd
/maven-central-deploy.log
/maven-central-deploy.sh~
*.releaseBackup
*/findbug-exclude.xml
*.log
a-jetty-base/ajettykeystore.1
a-jetty-base/bobs-pizza-nfs-r.sqlite
a-jetty-base/bobs-pizza-nfs.encr
